<!DOCTYPE html>
<html>
  <head>
        <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Float grid demo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/gridstack.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.0/lodash.min.js"></script>
    <script src="/javascripts/gridstack.js"></script>
    <script src="/javascripts/gridstack.jQueryUI.js"></script>

    <style type="text/css">
        .grid-stack {
            width: 620px;
            margin: 0;
            padding: 0;
        }

        .frame {
            position: relative;
            height: 600px;
            margin: 0;
            padding: 0;
        }

        .grid-stack-item-content {
            color: #2c3e50;
            text-align: center;
            background-color: #18bc9c;
            margin: 0;
            padding: 0;
        }

        .container-frame {
            position: relative;
            float: left;
            width: 620px;
            height: 600px;
            background: #2c3e50;
            margin: 0;
            padding: 0;
        }

        .grid-stack:grid-stack {
            margin: 0 -10px;
            background: rgba(255, 255, 255, 0.3);
        }

        .grid-stack .grid-stack .grid-stack-item-content {
            background: lightpink;
        }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
